In [1]:
import pandas as pd
import random
import ml_metrics as metrics

In [2]:
destinations = pd.read_csv("destinations.csv")
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [27]:
test

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538
5,5,2015-07-21 11:58:45,2,3,66,311,48189,359.8521,51,0,...,2015-07-22,2015-07-24,4,0,2,11827,1,2,50,447
6,6,2015-07-29 07:58:39,2,3,66,311,48189,237.3465,51,0,...,2015-08-02,2015-08-03,2,0,1,8271,1,2,50,696
7,7,2015-08-01 20:13:15,2,3,66,348,24811,216.5785,51,0,...,2015-08-03,2015-08-04,2,0,1,8291,1,2,50,191
8,8,2015-11-07 12:29:09,2,3,66,311,48189,2337.6754,51,0,...,2015-12-30,2015-12-31,2,0,1,8250,1,2,50,628
9,9,2015-11-08 16:21:37,2,3,66,311,48189,2539.7995,51,0,...,2016-01-02,2016-01-03,2,0,1,9145,1,2,50,364
10,10,2015-11-08 17:43:50,2,3,66,311,48189,2660.9654,51,0,...,2016-01-05,2016-01-06,2,0,1,12267,6,2,50,1230
11,11,2015-08-10 13:35:02,11,3,214,120,44496,NaN,56,0,...,2015-08-18,2015-08-21,2,1,1,20813,6,6,70,312
12,12,2015-06-03 10:45:51,2,3,57,342,5021,NaN,57,0,...,2015-06-05,2015-06-08,2,0,1,11353,1,2,50,699
13,13,2015-06-19 10:16:08,2,3,57,342,5021,NaN,57,0,...,2015-06-25,2015-06-26,2,0,1,8826,1,4,47,1501
14,14,2015-07-14 08:24:18,2,3,57,342,5021,NaN,57,0,...,2015-08-03,2015-08-04,2,0,1,8228,1,2,198,371
15,15,2015-07-14 08:48:48,2,3,57,342,5021,NaN,57,0,...,2015-08-04,2015-08-09,2,0,1,1886,1,2,198,789
16,16,2015-07-22 11:34:00,2,3,57,342,5021,NaN,57,0,...,2015-08-16,2015-08-19,2,1,1,8268,1,2,50,682
17,17,2015-07-23 13:00:59,2,3,57,342,5021,NaN,57,0,...,2015-08-01,2015-08-09,3,1,1,12008,1,2,50,686
18,18,2015-08-18 12:37:10,2,3,57,342,5021,NaN,57,0,...,2015-08-19,2015-08-20,2,0,1,8243,1,2,50,409
19,19,2015-08-24 12:25:11,2,3,57,342,5021,NaN,57,0,...,2015-08-26,2015-08-31,2,0,1,8809,1,2,50,698
20,20,2015-09-01 06:09:06,2,3,57,342,5021,NaN,57,0,...,2015-09-01,2015-09-03,2,0,1,8219,1,2,50,688
21,21,2015-09-09 10:13:24,2,3,57,342,5021,NaN,57,0,...,2015-09-11,2015-09-13,2,0,1,8260,1,2,50,701
22,22,2015-09-25 15:08:33,2,3,57,342,5021,NaN,57,0,...,2015-11-22,2015-11-29,2,0,1,8826,1,4,47,1511
23,23,2015-10-14 08:43:34,2,3,57,342,5021,NaN,57,0,...,2015-10-16,2015-10-18,2,0,1,1152,1,4,47,1502
24,24,2015-12-12 12:00:04,2,3,57,342,5021,NaN,57,0,...,2016-01-28,2016-02-01,2,0,1,8267,1,2,50,675
25,25,2015-10-14 11:53:41,2,3,66,174,24103,2452.2781,65,0,...,2015-11-25,2015-11-29,1,0,1,8267,1,2,50,675
26,26,2015-08-21 21:36:18,11,3,205,135,36086,7449.5906,87,0,...,2015-08-23,2015-08-24,2,0,1,8217,1,0,34,43
27,27,2015-05-28 19:44:39,2,3,66,174,5938,25.8282,98,0,...,2015-06-12,2015-06-14,2,0,1,4406,3,2,50,368
28,28,2015-12-17 02:04:00,2,3,66,435,39058,534.3984,102,0,...,2015-12-21,2015-12-22,2,0,1,26437,6,2,50,856
29,29,2015-03-04 17:33:44,2,3,66,226,20170,911.1921,108,0,...,2015-05-01,2015-05-04,2,0,1,8791,1,4,8,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528213,2528213,2015-06-02 13:16:29,2,3,66,258,42396,482.1640,1198681,0,...,2015-06-29,2015-06-30,3,0,3,17363,5,2,50,824
2528214,2528214,2015-07-13 08:29:53,2,3,66,258,42396,561.1356,1198681,0,...,2015-08-16,2015-08-18,2,0,1,26624,6,2,50,1367
2528215,2528215,2015-07-14 14:04:39,2,3,66,258,42396,524.9776,1198681,0,...,2015-07-26,2015-07-27,2,0,2,43731,6,2,50,1253
2528216,2528216,2015-07-21 10:53:47,2,3,66,258,42396,98.9595,1198681,0,...,2015-08-14,2015-08-15,2,0,2,27578,6,2,50,426
2528217,2528217,2015-08-03 10:55:02,2,3,66,258,42396,134.8539,1198681,0,...,2015-08-08,2015-08-09,2,0,1,54920,1,2,50,1056
2528218,2528218,2015-08-14 08:05:11,2,3,66,258,42396,7759.9406,1198681,0,...,2015-10-24,2015-10-29,2,0,2,8242,1,3,171,61
2528219,2528219,2015-09-21 13:42:21,2,3,66,258,42396,244.3949,1198681,0,...,2015-10-01,2015-10-02,2,0,1,27006,6,2,50,895
2528220,2528220,2015-09-24 08:21:57,2,3,66,258,42396,780.8954,1198681,0,...,2015-10-02,2015-10-03,2,0,1,26046,6,2,50,681
2528221,2528221,2015-09-29 11:50:06,2,3,66,258,42396,654.8646,1198681,0,...,2015-10-01,2015-10-02,1,0,1,26501,6,2,50,1519
2528222,2528222,2015-11-05 11:26:13,2,3,66,258,42396,1814.9161,1198681,0,...,2015-11-10,2015-11-11,2,0,2,30323,6,2,50,1042
2528223,2528223,2015-11-06 11:59:44,2,3,66,258,42396,1824.0325,1198681,0,...,2015-11-08,2015-11-09,1,0,1,24692,6,2,50,1241
2528224,2528224,2015-05-29 17:03:19,2,3,66,331,17552,184.1005,1198686,0,...,2015-06-05,2015-06-07,2,1,1,11321,1,2,50,642
2528225,2528225,2015-07-29 08:45:36,2,3,66,220,2086,5187.0656,1198690,0,...,2015-09-06,2015-09-09,2,1,1,8746,1,6,105,29
2528226,2528226,2015-12-15 20:43:12,2,3,66,324,40604,448.0108,1198703,0,...,2015-12-26,2015-12-27,2,0,1,12192,6,2,50,406
2528227,2528227,2015-12-15 21:08:30,2,3,66,324,40604,274.9252,1198703,0,...,2015-12-25,2015-12-26,2,0,1,11921,1,2,50,634
2528228,2528228,2015-05-12 15:48:34,2,3,154,196,38140,NaN,1198710,0,...,2015-05-12,2015-05-14,2,0,2,8222,1,4,119,2060
2528229,2528229,2015-09-02 15:25:50,2,3,154,970,28104,NaN,1198710,0,...,2015-09-02,2015-09-03,1,0,1,48884,6,4,119,2063
2528230,2528230,2015-11-03 14:53:23,2,3,154,970,28104,NaN,1198710,0,...,2015-11-04,2015-11-05,2,0,1,330,1,4,119,2062
2528231,2528231,2015-11-12 18:54:48,2,3,66,442,35390,221.9894,1198717,0,...,2015-11-15,2015-11-17,2,0,1,26956,6,2,50,408
2528232,2528232,2015-12-28 13:25:10,2,3,66,337,12454,NaN,1198720,0,...,2015-12-31,2016-01-02,2,0,1,8250,1,2,50,628
2528233,2528233,2015-08-18 19:10:31,2,3,66,226,13982,25.8312,1198725,0,...,2015-08-21,2015-08-23,2,0,1,12177,6,2,50,350
2528234,2528234,2015-01-20 20:12:07,11,3,205,354,40193,2300.3771,1198734,0,...,2015-03-21,2015-03-22,2,2,1,15246,5,4,146,1547
2528235,2528235,2015-06-11 22:45:39,26,0,66,258,19630,1766.4050,1198736,1,...,2015-06-12,2015-06-13,2,1,1,38475,4,4,8,130
2528236,2528236,2015-04-06 12:52:11,2,3,66,322,47766,296.8726,1198737,1,...,2015-09-19,2015-09-20,2,0,1,4383,1,2,50,1052
2528237,2528237,2015-06-16 20:14:58,2,3,66,174,18037,2369.5146,1198754,1,...,2015-07-23,2015-07-27,2,1,1,8855,1,2,50,213
2528238,2528238,2015-06-16 21:03:12,2,3,66,174,18037,2466.1247,1198754,1,...,2015-07-27,2015-07-30,2,1,1,8857,1,2,50,214
2528239,2528239,2015-07-25 10:12:14,11,3,205,354,48951,4701.6346,1198758,0,...,2015-07-29,2015-08-05,2,0,1,19308,3,6,206,1749
2528240,2528240,2015-03-14 01:31:37,2,3,66,442,17078,1077.2278,1198771,0,...,2015-05-18,2015-05-19,1,0,1,8250,1,2,50,628
2528241,2528241,2015-07-21 11:23:35,2,3,66,184,28561,266.7678,1198775,0,...,2015-07-24,2015-07-25,2,0,1,4627,3,2,50,905
2528242,2528242,2015-02-25 16:00:29,2,3,229,249,56090,NaN,1198782,1,...,2015-02-26,2015-02-27,2,0,1,38774,6,3,162,1490

In [3]:
train["date_time"] = pd.to_datetime(train["date_time"])
train["year"] = train["date_time"].dt.year
train["month"] = train["date_time"].dt.month

In [4]:
unique_users = train.user_id.unique()

In [9]:
sel_user_ids = [unique_users[i] for i in sorted(random.sample(range(len(unique_users)), 10000)) ]
sel_train = train[train.user_id.isin(sel_user_ids)]

In [6]:
t1 = sel_train[((sel_train.year == 2013) | ((sel_train.year == 2014) & (sel_train.month < 8)))]
t2 = sel_train[((sel_train.year == 2014) & (sel_train.month >= 8))]

In [25]:
t2 = t2[t2.is_booking == True]

In [26]:
t1

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,year,month
745,2013-04-04 23:10:33,24,2,3,58,28400,NaN,4413,0,0,...,11079,3,0,1,3,106,753,12,2013,4
746,2013-04-04 23:18:14,24,2,3,58,28400,NaN,4413,0,0,...,11079,3,1,1,3,106,753,12,2013,4
747,2013-04-05 01:34:28,24,2,3,58,28400,NaN,4413,0,0,...,11079,3,0,2,3,106,753,12,2013,4
2566,2014-04-25 18:24:29,24,2,80,38,52486,NaN,12960,0,1,...,8253,1,0,1,6,70,19,72,2014,4
2567,2014-04-25 18:31:05,24,2,80,38,52486,NaN,12960,0,1,...,8253,1,0,2,6,70,19,72,2014,4
2568,2014-04-25 19:00:49,24,2,80,38,52486,NaN,12960,0,0,...,8253,1,0,1,6,70,19,23,2014,4
2569,2014-04-25 19:03:15,24,2,80,38,52486,NaN,12960,0,0,...,8253,1,0,1,6,70,19,16,2014,4
2570,2014-04-25 19:06:42,24,2,80,38,52486,NaN,12960,0,0,...,8253,1,0,1,6,70,19,72,2014,4
2571,2014-04-25 19:11:03,24,2,80,38,52486,NaN,12960,0,0,...,8253,1,0,1,6,70,19,72,2014,4
2572,2014-04-27 00:26:37,24,2,80,41,21389,NaN,12960,0,0,...,8253,1,0,1,6,70,19,16,2014,4
2573,2014-04-27 00:31:58,24,2,80,41,21389,NaN,12960,0,0,...,8253,1,0,1,6,70,19,6,2014,4
2574,2014-04-27 00:35:47,24,2,80,41,21389,NaN,12960,0,0,...,8253,1,1,1,6,70,19,6,2014,4
2575,2014-04-28 03:30:20,24,2,80,41,21389,NaN,12960,0,0,...,20040,1,0,2,5,26,40,92,2014,4
2576,2014-04-28 03:36:07,24,2,80,41,21389,NaN,12960,0,0,...,20040,1,0,1,5,26,40,86,2014,4
2577,2014-04-28 03:37:26,24,2,80,41,21389,NaN,12960,0,0,...,20040,1,0,1,5,26,40,92,2014,4
2578,2014-04-28 03:39:10,24,2,80,41,21389,NaN,12960,0,0,...,20040,1,0,1,5,26,40,75,2014,4
2579,2014-06-22 00:59:17,24,2,80,38,52486,NaN,12960,0,1,...,8234,1,0,2,6,7,8,25,2014,6
2580,2014-06-22 02:19:45,24,2,80,38,52486,NaN,12960,0,1,...,8234,1,0,1,6,7,8,5,2014,6
2581,2014-06-22 02:26:47,24,2,80,38,52486,NaN,12960,0,0,...,8234,1,0,1,6,7,8,25,2014,6
5084,2014-06-06 11:58:08,2,3,66,363,30643,96.1052,31638,0,0,...,8267,1,0,1,2,50,675,41,2014,6
5085,2014-06-06 11:58:46,2,3,66,363,30643,96.0724,31638,0,0,...,8267,1,0,1,2,50,675,41,2014,6
5768,2013-01-24 18:36:13,11,3,205,354,12328,141.1682,34019,0,0,...,41556,1,0,1,2,198,395,28,2013,1
5769,2013-01-24 18:39:36,11,3,205,354,12328,339.6278,34019,0,0,...,8287,1,0,1,2,198,397,18,2013,1
5770,2013-02-27 17:57:41,11,3,205,354,12328,318.2518,34019,0,0,...,5126,3,0,2,2,198,954,48,2013,2
5771,2013-02-27 18:00:42,11,3,205,354,12328,316.5177,34019,0,0,...,5126,3,0,2,2,198,954,47,2013,2
5772,2013-02-27 18:01:41,11,3,205,354,12328,318.2397,34019,0,0,...,5126,3,0,1,2,198,954,16,2013,2
5773,2013-02-28 19:28:16,11,3,205,354,12328,316.5177,34019,0,0,...,5126,3,0,1,2,198,954,47,2013,2
5774,2013-02-28 19:32:51,11,3,205,354,12328,318.2518,34019,0,0,...,5126,3,0,2,2,198,954,48,2013,2
5775,2013-02-28 19:33:09,11,3,205,354,12328,318.2518,34019,0,0,...,5126,3,0,2,2,198,954,48,2013,2
5776,2013-02-28 19:34:05,11,3,205,354,12328,318.2518,34019,0,0,...,5126,3,0,1,2,198,954,48,2013,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37661022,2014-05-04 19:47:21,2,3,66,442,35390,185.7233,1150635,0,0,...,12261,6,0,1,2,50,412,38,2014,5
37661023,2014-05-09 19:37:23,2,3,66,442,35390,150.2109,1150635,0,0,...,26939,6,0,2,2,50,743,39,2014,5
37661024,2014-05-09 19:39:00,2,3,66,442,35390,153.8014,1150635,0,0,...,26939,6,0,1,2,50,743,47,2014,5
37661025,2014-05-09 19:41:08,2,3,66,442,35390,152.7339,1150635,0,0,...,26939,6,0,1,2,50,743,18,2014,5
37661026,2014-05-09 19:48:16,2,3,66,442,35390,181.4364,1150635,0,0,...,3780,3,0,1,2,50,1098,16,2014,5
37661027,2014-05-09 19:53:42,2,3,66,442,35390,181.4364,1150635,0,0,...,3780,3,1,1,2,50,1098,16,2014,5
37661028,2014-07-22 20:51:01,2,3,66,442,35390,189.8451,1150635,0,0,...,8277,1,0,1,2,50,412,91,2014,7
37661029,2014-07-22 20:51:02,2,3,66,442,35390,193.6016,1150635,0,0,...,8277,1,0,1,2,50,412,33,2014,7
37661030,2014-07-22 20:51:28,2,3,66,442,35390,181.3099,1150635,0,0,...,8277,1,0,1,2,50,412,76,2014,7
37661031,2014-07-22 20:57:11,2,3,66,442,35390,181.3099,1150635,0,1,...,8277,1,0,1,2,50,412,76,2014,7
37661032,2014-07-22 21:06:54,2,3,66,442,35390,186.3780,1150635,0,0,...,12261,6,0,1,2,50,412,4,2014,7
37661033,2014-07-22 21:06:56,2,3,66,442,35390,185.8869,1150635,0,0,...,12261,6,0,1,2,50,412,28,2014,7
37661034,2014-07-22 21:06:57,2,3,66,442,35390,186.3573,1150635,0,0,...,12261,6,0,1,2,50,412,72,2014,7
37661035,2014-07-22 22:43:23,2,3,66,442,35390,185.5851,1150635,0,0,...,12261,6,0,1,2,50,412,99,2014,7
37661036,2014-07-22 22:43:29,2,3,66,442,35390,185.5188,1150635,0,0,...,12261,6,0,1,2,50,412,18,2014,7
37661037,2014-07-22 22:43:38,2,3,66,442,35390,185.7359,1150635,0,0,...,12261,6,0,1,2,50,412,41,2014,7
37661038,2014-07-22 22:50:32,2,3,66,442,35390,185.5851,1150635,0,0,...,12261,6,1,1,2,50,412,99,2014,7
37661039,2014-07-22 22:59:03,2,3,66,442,35390,185.5851,1150635,0,1,...,12261,6,0,1,2,50,412,99,2014,7
37661040,2014-07-25 22:54:29,2,3,66,442,47415,221.2105,1150635,1,0,...,8277,1,0,2,2,50,408,83,2014,7
37661041,2014-07-25 23:01:51,2,3,66,442,47415,244.1591,1150635,1,0,...,42968,1,0,1,2,50,1267,16,2014,7
37661042,2014-07-25 23:17:34,2,3,66,442,18617,NaN,1150635,0,0,...,8277,1,0,1,2,50,412,76,2014,7
37661043,2014-07-25 23:19:01,2,3,66,442,18617,NaN,1150635,0,0,...,42968,1,0,1,2,50,1267,16,2014,7
37661044,2014-07-25 23:21:56,2,3,66,442,18617,NaN,1150635,0,0,...,5938,3,0,2,2,50,1270,32,2014,7
37661045,2014-07-25 23:26:12,2,3,66,442,18617,NaN,1150635,0,0,...,5938,3,1,1,2,50,1270,32,2014,7
37668509,2014-07-08 19:21:52,2,3,66,462,11417,5280.4959,1187732,0,0,...,22802,6,0,1,6,77,20,99,2014,7
37668510,2014-07-08 19:27:03,2,3,66,462,11417,5280.4959,1187732,0,0,...,22802,6,1,1,6,77,20,99,2014,7
37668511,2014-07-08 19:29:51,2,3,66,462,11417,5282.6260,1187732,0,0,...,22795,6,0,1,6,77,20,59,2014,7
37668512,2014-07-08 20:24:20,2,3,66,462,11417,5282.6260,1187732,0,0,...,22795,6,0,1,6,77,20,59,2014,7
37668513,2014-07-08 20:40:28,2,3,66,462,11417,5406.9989,1187732,0,0,...,29564,4,0,1,6,77,2,72,2014,7
37668514,2014-07-08 20:43:43,2,3,66,462,11417,5406.8734,1187732,0,0,...,29564,4,0,1,6,77,2,72,2014,7

In [14]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
dest_small = pca.fit_transform(destinations[["d{0}".format(i + 1) for i in range(149)]])
dest_small = pd.DataFrame(dest_small)
dest_small["srch_destination_id"] = destinations["srch_destination_id"]

In [15]:
def calc_fast_features(df):
     df["date_time"] = pd.to_datetime(df["date_time"])
     df["srch_ci"] = pd.to_datetime(df["srch_ci"], format='%Y-%m-%d', errors="coerce")
     df["srch_co"] = pd.to_datetime(df["srch_co"], format='%Y-%m-%d', errors="coerce")

     props = {}
     for prop in ["month", "day", "hour", "minute", "dayofweek", "quarter"]:
         props[prop] = getattr(df["date_time"].dt, prop)

     carryover = [p for p in df.columns if p not in ["date_time", "srch_ci", "srch_co"]]
     for prop in carryover:
         props[prop] = df[prop]

     date_props = ["month", "day", "dayofweek", "quarter"]
     for prop in date_props:
         props["ci_{0}".format(prop)] = getattr(df["srch_ci"].dt, prop)
         props["co_{0}".format(prop)] = getattr(df["srch_co"].dt, prop)
     props["stay_span"] = (df["srch_co"] - df["srch_ci"]).astype('timedelta64[h]')

     ret = pd.DataFrame(props)

     ret = ret.join(dest_small, on="srch_destination_id", how='left', rsuffix="dest")
     ret = ret.drop("srch_destination_iddest", axis=1)
     return ret

In [19]:
df = calc_fast_features(t1)
df.fillna(-1, inplace=True)

In [20]:
predictors = [c for c in df.columns if c not in ["hotel_cluster"]]

In [21]:
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
scores = cross_validation.cross_val_score(clf, df[predictors], df['hotel_cluster'], cv=3)

In [23]:
scores

array([ 0.06770973,  0.06594926,  0.06397407])

In [31]:
from sklearn.ensemble import ExtraTreesClassifier

clfExtra = ExtraTreesClassifier(n_estimators=10, max_depth=None, min_samples_split=1, random_state=0)
scores = cross_validation.cross_val_score(clf, df[predictors], df['hotel_cluster'], cv=3)
scores

array([ 0.06779888,  0.06609789,  0.0628885 ])

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import KFold
from itertools import chain

all_probs = []
unique_clusters = df["hotel_cluster"].unique()
for cluster in unique_clusters:
    df["target"] = 1
    df["target"][df["hotel_cluster"] != cluster] = 0
    predictors = [col for col in df if col not in ['hotel_cluster', "target"]]
    probs = []
    cv = KFold(len(df["target"]), n_folds=2)
    clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
    for i, (tr, te) in enumerate(cv):
        clf.fit(df[predictors].iloc[tr], df["target"].iloc[tr])
        preds = clf.predict_proba(df[predictors].iloc[te])
        probs.append([p[1] for p in preds])
    full_probs = chain.from_iterable(probs)
    all_probs.append(list(full_probs))

prediction_frame = pd.DataFrame(all_probs).T
prediction_frame.columns = unique_clusters
def find_top_5(row):
    return list(row.nlargest(5).index)

preds = []
for index, row in prediction_frame.iterrows():
    preds.append(find_top_5(row))

/Users/knshiro/anaconda3/envs/kaggle-expedia/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy